.canvasElement {
  border-radius: 15px;
  color: black;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  border: 2px solid black;
}

.canvasElement:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.canvasElement:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.table {
  background: grey;
  width: 600px;
  max-height: 400px;
}

.containerTitle {
  padding-top: 2%;
  text-decoration: underline;
}

.join {
  background: rgba(251, 229, 163, 255);
}

.joinsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tablesContainer {
  display: flex;
  column-gap: 20%;
}

li {
  list-style: circle;
}
